### **Color Classification**

##### 2020710058 Applied Data Science Doo-yeonog, Lee

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import cv2
import os
from tqdm import tqdm

In [14]:
DATADIR = 'archive/ColorClassification/'
CATEGORIES = ['orange','Violet','red','Blue','Green','Black','Brown','White']
IMG_SIZE=100

In [15]:
training_data=[]

def create_training_data():
    for category in CATEGORIES:
        path = os.path.join(DATADIR, category)
        class_num = CATEGORIES.index(category)
        for img in os.listdir(path):
            try:
                img_array=cv2.imread(os.path.join(path,img))
                new_array=cv2.resize(img_array,(IMG_SIZE,IMG_SIZE))
                training_data.append([new_array, class_num])
            except Exception as e:
                pass

create_training_data()

In [16]:
print(np.array(training_data).shape)

(107, 2)

In [17]:
# 2d-transform
X=[]
y=[]

for arr, label in training_data:
    X.append(arr)
    y.append(label)
X = np.array(X).reshape(len(training_data), -1)
X = X/255.0

y=np.array(y)

In [18]:
X.shape, y.shape

((107, 30000), (107,))

### Train_Test Split

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y)

### Fitting SVM

In [27]:
from sklearn.svm import SVC
svc = SVC(kernel='linear', gamma='auto')
svc.fit(X_train, y_train)

SVC(gamma='auto', kernel='linear')

### Prediction

In [31]:
y2 = svc.predict(X_test)

In [32]:
from sklearn.metrics import accuracy_score
print("Accuracy on unknown data is",accuracy_score(y_test,y2))

Accuracy on unknown data is 0.8518518518518519

In [33]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y2, target_names = CATEGORIES))

              precision    recall  f1-score   support

      orange       1.00      1.00      1.00         2
      Violet       0.83      0.71      0.77         7
         red       1.00      1.00      1.00         2
        Blue       1.00      0.67      0.80         3
       Green       0.50      1.00      0.67         1
       Black       0.80      0.80      0.80         5
       Brown       0.67      1.00      0.80         2
       White       1.00      1.00      1.00         5

    accuracy                           0.85        27
   macro avg       0.85      0.90      0.85        27
weighted avg       0.88      0.85      0.85        27

In [34]:
result = pd.DataFrame({'original' : y_test,'predicted' : y2})

In [35]:
result

    original  predicted
0          4          4
1          6          6
2          5          5
3          5          1
4          7          7
5          2          2
6          7          7
7          3          3
8          7          7
9          2          2
10         6          6
11         5          5
12         1          1
13         5          5
14         1          1
15         7          7
16         0          0
17         1          6
18         1          1
19         1          1
20         1          4
21         5          5
22         3          3
23         7          7
24         3          5
25         0          0
26         1          1